/**
 * -----------------------------------------------------------------------------
 * File: components/icons/browse
 * -----------------------------------------------------------------------------
 */

%icon-browse {
  @extend %icon;
  @extend %icon-bg;
  background-size: contain;
  height: 30px;
  transform: translateX(0);
  transition: transform .1s ease-out;
  width: 45px;
}

.icon-browse-next {
  @extend %icon-browse;
  background-image: url($url-images + 'arrow-next-sm.svg');
  &:hover {
    transform: translateX(3px);
  }
}

.icon-browse-prev {
  @extend %icon-browse;
  background-image: url($url-images + 'arrow-prev-sm.svg');
  &:hover {
    transform: translateX(-3px);
  }
}