/**
 * -----------------------------------------------------------------------------
 * File: views/contact
 * -----------------------------------------------------------------------------
 */

.content-contact {
  @extend %content;
  padding-bottom: $space-xs;
  @include bp-md() {
    padding-bottom: $space-xl;
  }
  
  address {
    margin-bottom: $space-md;
    @include bp-md() {
      margin-bottom: $space-xl;
    }
  }

  .map {
    position: relative;

    > div {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .imprint {
    margin-top: $space-sm;
    @include font-size($fs-sm);
    @include bp-md() {
      margin-top: $space-xl;
    }

    h3 {
      @include font-bold();
      @include font-size($fs-sm);
    }

    a {
      @extend %anchor-underline-active;
    }
  }

}