/**
 * -----------------------------------------------------------------------------
 * File: views/home
 * -----------------------------------------------------------------------------
 */

.content-home {
  @extend %content;

  .home-grid {
    margin-top: $space-md;
    @include bp-md() {
      margin-top: $space-xl;
    }
  }

  .news-article {
    text-align: center;
    padding: $space-sm;

    @include bp-md() {
      padding: $space-md $space-lg;
    }

    > div {
      position: relative;
    }

    header {
      border-bottom: 1px solid $color-black;
      margin-bottom: $space-xs;
      padding-bottom: $space-xs;
      @include bp-md() {
        margin-bottom: $space-sm;
        padding-bottom: $space-sm;
      }
    }

    figure {
      display: block;
      margin-bottom: $space-xs;
      margin-top: $space-xs;
      @include bp-md() {
        margin-bottom: $space-sm;
        margin-top: $space-sm;
      }

      img {
        @extend %is-responsive;
        max-width: 80% !important;
        margin-left: auto;
        margin-right: auto;
      }
    }

    footer {
      border-top: 1px solid $color-black;
      @include font-size($fs-md);
      margin-top: $space-xs;
      padding-top: $space-xs;
      @include bp-md() {
        margin-top: $space-sm;
        padding-top: $space-sm;
      }

      a {
        @include font-size($fs-md);
      }
    }

    h2 {
      border-bottom: none;
      @include font-size($fs-xl);
      margin-bottom: 0;
    }

    a {
      text-shadow: none;
      box-shadow: none;
    }

    p a {
      @extend %anchor-underline-active;
    }

    &.is-outline {
      border: 1px solid $color-black;
    }

    &.is-yellow {
      background-color: $color-yellow;

      p a {
        transition: all .1s ease-out;
        box-shadow:  0 -1px 0 0 $color-yellow inset, 0 -2px 0 0 $color-black inset ;
        text-decoration: none;
        
        &.is-active,
        &:hover {
      
          text-decoration: none !important;
          text-shadow: 
            0px -2px 0 $color-yellow,  0px -1px 0 $color-yellow,  0px 0px 0 $color-yellow,
            2px -2px 0 $color-yellow,  2px -1px 0 $color-yellow,  2px 0px 0 $color-yellow,
            -2px -2px 0 $color-yellow, -2px -1px 0 $color-yellow, -2px 0px 0 $color-yellow,
            1px -2px 0 $color-yellow,  1px -1px 0 $color-yellow,  1px 0px 0 $color-yellow,
            -1px -2px 0 $color-yellow, -1px -1px 0 $color-yellow, -1px 0px 0 $color-yellow,
            0px -2px 0 $color-yellow,  0px -1px 0 $color-yellow,  0px 0px 0 $color-yellow;
          box-shadow: 0 -1px 0 0 $color-yellow inset, 0 -2px 0 0 transparent inset;  
          transition: all .1s ease-in;
        }
      }
    }

    &.is-grey {
      background-color: $color-grey;

      p a {
        transition: all .1s ease-out;
        box-shadow:  0 -1px 0 0 $color-grey inset, 0 -2px 0 0 $color-black inset;
        text-decoration: none;
        &.is-active,
        &:hover {
          text-decoration: none !important;
          text-shadow: 
            0px -2px 0 $color-grey,  0px -1px 0 $color-grey,  0px 0px 0 $color-grey,
            2px -2px 0 $color-grey,  2px -1px 0 $color-grey,  2px 0px 0 $color-grey,
            -2px -2px 0 $color-grey, -2px -1px 0 $color-grey, -2px 0px 0 $color-grey,
            1px -2px 0 $color-grey,  1px -1px 0 $color-grey,  1px 0px 0 $color-grey,
            -1px -2px 0 $color-grey, -1px -1px 0 $color-grey, -1px 0px 0 $color-grey,
            0px -2px 0 $color-grey,  0px -1px 0 $color-grey,  0px 0px 0 $color-grey;
          box-shadow: 0 -1px 0 0 $color-grey inset, 0 -2px 0 0 transparent inset;  
          transition: all .1s ease-in;
        }
      }
    }
  }
}