/**
 * -----------------------------------------------------------------------------
 * File: views/project
 * -----------------------------------------------------------------------------
 */

.content-project {
  border-top: 1px solid $color-black;
  position: relative;

  @include bp-md() {
    margin-top: 105px;
    padding-bottom: $space-sm;
  }

  h1 {
    @include font-light();
    @include font-size($fs-xl);
  }

  .project-header {
    padding-top: $space-xs;
    @include bp-md() {
      padding-top: $space-lg;
    }
  }

  // grid
  .project-grid {
    margin-top: $space-xs;

    @include bp-md() {
      margin-top: $space-xl;
    }
  }

  .text-article {
    background-color: $color-grey;
    padding: $space-sm;
    @include bp-md() {
      padding: $space-md $space-lg;
    }
  }

  // nav info
  .project-info {
    display: none;
    margin-top: $space-sm;

    @include bp-md() {
      display: block;
    }

    ul {
      display: flex;
    }
    
    li {
      margin-right: $space-xxl;
      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      @extend %anchor-underline;
    }
  }

  // nav browse
  .project-browse {
    display: none;
    position: absolute;
    right: 0;
    top: $space-lg;
    width: 120px;
    
    @include bp-md() {
      display: block;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }
  }

  // teaser
  .project-teaser {
    margin-bottom: $space-xs;
    margin-top: $space-xxl;

    @include bp-md() {
      display: none;
    }

    a {
      color: $color-black;
      text-decoration: none;
    }

    label {
      border-bottom: 1px solid $color-black;
      display: block;
      padding-bottom: $space-xs;
    }

    h3 {
      @include font-size($fs-xl);
      @include font-light();
      margin: $space-xs 0;
    }
  }

  .project {
    position: relative;
  }

  // description & info
  .project-description {
    margin-top: $space-lg;
    padding-bottom: $space-lg;

    > div {
      margin-top: $space-lg;
    }

    @include bp-md() {
      background-color: $color-white;
      margin-top: 0;
      max-width: calc(50% + #{$space-sm});
      opacity: 0;
      padding-bottom: $space-xl;
      padding-right: $space-xl;
      pointer-events: 0;
      position: absolute;
      transition: opacity .12s ease-in;
      top: 0;
      z-index: -1;

      &.is-visible {
        opacity: 1;
        pointer-events: all;
        z-index: 5;
      }

      > div {
        margin-top: 0;
        margin-bottom: $space-xl;
      }
    }
  }

  .project-description__info {
    @include font-size($fs-sm);
  }

  .project-description__links {
    
    a {
      @extend %anchor-underline;
    }

    @include bp-md() {
      display: none;
    }
  }
}

// Projects - Strategy & Development
.content-strategy-development {
  @extend %content;
  padding-bottom: $space-xs;

  @include bp-md() {
    margin-top: 105px;
    padding-bottom: $space-xl;
  }

  .strategy-development-intro {
    margin-bottom: $space-xl;

    @include bp-md() {
      margin-bottom: $space-huge;
    }

    .strategy-development-intro__text {
      @extend %word-break;
      border-top: 1px solid $color-black;
      @include font-light();
      @include font-size($fs-xl);
      margin-bottom: $space-sm;
      padding-top: $space-xs;
  
      @include bp-md() {
        column-count: 2;
        column-gap: 17px;
        @include font-light();
        @include font-size($fs-xl);
        margin-bottom: $space-xl;
        padding-top: $space-md;
      }
    }

    h2 {
      border-bottom: none;
      @include font-light();
      @include font-size($fs-xl);
      margin-bottom: $space-xs;
      padding-bottom: 0;
    }

    .content-visual {
      margin-bottom: $space-xs;
      @include bp-md() {
        margin-bottom: 0;
      }
    }
  }

  article.strategy-development-text  {
    border-bottom: 1px solid $color-black;
    margin-bottom: $space-sm;
    margin-top: $space-xs;
    padding-bottom: $space-sm;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.is-last {
      border-bottom: none;
      padding-bottom: 0;
    }
    
    @include bp-md() {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    h2 {
      margin-bottom: 0;
    }

    h3 {
      @include font-light();
      @include font-size($fs-xl);
    }
  }

  article.strategy-development-project {
    border-top: 1px solid $color-black;
    margin-bottom: $space-xl;
    padding-top: $space-xs;

    @include bp-md() {
      margin-bottom: $space-huge;
      padding-top: $space-sm;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
    
    h2 {
      border-bottom: none;
      @include font-bold();
      @include font-size($fs-md);
      margin-bottom: $space-xxs;
      padding-bottom: 0;

      @include bp-md() {
        @include font-light();
        @include font-size($fs-xl);
        margin-bottom: $space-xs;
      }
    }

    .strategy-development__link {
      margin-top: $space-sm;
      @include bp-md() {
        margin-top: $space-lg;
      }
      + .strategy-development__link {
        margin-top: 0 !important;
      }
    }

    .strategy-development__content {
      a {
        @extend %icon-arrow-up;
      }
    }


    .strategy-development__info {
      @include font-size($fs-sm);
      margin-top: $space-sm;
      @include bp-md() {
        margin-top: $space-lg;
      }
    }

    .strategy-development__info {
      a {
        @extend %icon-arrow-up-sm;
      }
    }
  }
}

// Project menu
.page-menu__project {

  @include bp-md() {
    position: absolute;
    width: 100%;
  }

  ul {
    margin-right: $space-xxl;
    position: relative;
    @include bp-md() {
      background-color: $color-white;
      margin-right: 0;
      z-index: 500;
    }

    li {
      display: block;
      margin-bottom: 3px;
      @include bp-md() {
        display: inline-block;
        margin-right: $space-lg;
      }
    }

    a {
      @extend %anchor-underline;
      color: $color-black;
      display: none;
      @include font-size($fs-xl);
      @include font-light();

      &.is-active {
        display: inline-block;
      }

      @include bp-md() {
        display: inline-block;
      }
    }
  }

  ul ul {
    background-color: $color-white;
    margin-top: $space-xs;
    padding-bottom: $space-sm;

    @include bp-md() {
      display: none;
      position: absolute;
      margin-top: 3px;
      width: 100%;
      z-index: 500;
    }

    li {
      display: block;
    }

    a {
      display: inline;
      @include font-size($fs-md);
      @include font-regular();
    }
  }
}

.page-menu__project > ul > li > a + ul {
  display: none;

  &.is-visible {
    display: block;
    @include bp-md() {
      display: none;
    }
  }

  @include bp-md() {
    padding-top: 20px;
  }
}

// Hover effect for 3rd level
.page-menu__project > ul > li:hover a.is-active ul {
  display: block;
}

.page-menu__project > ul > li:hover a + ul {
  @include bp-md() {
    display: block;
  }
}