/**
 * -----------------------------------------------------------------------------
 * File: modules/project-layout
 * -----------------------------------------------------------------------------
 *
 */
 
.grid-layout-selector {
  border-bottom: 2px solid $color-light-grey;
  border-top: 2px solid $color-light-grey;
  @include responsive-prop('margin-bottom', $space-sm);
  position: relative;

  ul {
    background-color: $color-white;
    display: none;
    margin: 0;
    padding: 0;

    &.is-visible {
      display: block;
      display: grid;
      margin-bottom: 10px;
      grid-template-columns: repeat(6, 100px);
      grid-gap: 20px;

      @include bp-lg() {
        grid-template-columns: repeat(8, 100px);
      }
    }

    li {
      display: block;
      margin-top: 10px;
    }

    a {
      display: block;
      width: 90px;

      @include bp-lg() {
        width: 100px;
      }

      img {
        display: block;
        height: auto;
        opacity: 1;
        transition: opacity .12s ease-out;
        width: 100%;
      }

      &:hover img {
        opacity: 0.7;
      }
    }
  }
}

.grid-layout-row {
  border-bottom: 2px solid $color-light-grey;
  @include responsive-prop('margin-bottom', $space-sm);

  &.is-list {
    margin-bottom: 0 !important;
    padding-bottom: 10px;
    padding-top: 10px !important;
    transition: background-color .12s ease-out;

    &:first-child {
      border-top: 2px solid $color-light-grey;

    }

    &:hover {
      cursor: move;
    }
  }
}