/**
 * -----------------------------------------------------------------------------
 * File: modules/grid-image-selector
 * -----------------------------------------------------------------------------
 *
 */

.grid-image-selector {
  @include responsive-prop('margin-top', $space-md);

  .select-wrapper {
    &:after {
      background-color: $color-medium-grey;
    }
  }

  select {
    border: 2px solid $color-medium-grey;
  }
}

.grid-image-selector__item {

  &.is-multi {
    @include responsive-prop('margin-bottom', $space-sm);
    @include responsive-prop('padding-top', $space-xs);
  }

  .grid-image-selector__media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 25px;

    figure {
      display: block;
      line-height: 1 !important;
      position: relative;

      a {
        display: block;
      }

      img {
        background-color: $color-white;
        border: 2px solid $color-light-grey;
        padding: 5px;
        display: block;
        width: auto;
        opacity: 1;
        transition: background-color .1s ease-out;
      }

      &:hover {
        img {
          background-color: $color-white;
          transition: background-color .1s ease-out;
        }
      }

      span {
        display: block;
        @include font-mono();
        @include font-size($fs-xxs);
        padding-top: 5px;
      }
    }
  }
}