/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/filter
 * -----------------------------------------------------------------------------
 */

.btn-filter {
  @extend %btn-ib;
  background-color: $color-light-grey;
  border-radius: 2px;
  border: none;
  color: $color-dark;
  @include font-size($fs-sm);
  @include font-regular();
  padding: 12px 24px;
  width: auto;
  @include transition(background-color .16s ease-out);

  &:hover {
    background-color: darken($color-light-grey, 10);
  }
}