/**
 * -----------------------------------------------------------------------------
 * File: component/blocks
 * -----------------------------------------------------------------------------
 *
 */

%inner-block,
.inner-block {
  margin-left: auto;
  margin-right: auto;
  padding: 0 $space-xs;
  position: relative;
  max-width: $site-max-width;

  @include bp-md() {
    padding: 0 $space-xl;
  }
}
