/**
 * -----------------------------------------------------------------------------
 * File: components/hr
 * -----------------------------------------------------------------------------
 */

%hr
.hr
hr {
  background-color: $color-black;
  display: block;
  height: 1px;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 100%;
}